body {
    font-family: 'PT Sans', sans-serif;
    background-color: honeydew;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

p {
	font-size: 20px;
   
}
#carousel{
    margin-top: 20px;
}
.title {
	padding-top: 100px; 
	padding-bottom: 70px ;


}

.title_main {
	font-size: 32px;
	text-align: center;
}

.title_text {
	font-size: 20px;
    text-align: center;
}

.feature {
    margin-bottom: 65px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000
}

.feature__text {
    color: #898989
}

